*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  box-shadow: 0 0 2px #ddd;
  margin: 10px auto;
  max-width: 800px;
  border-radius: 5px;
  padding: 8px;
}
header{
  box-shadow: 0 0 2px #333;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: rgb(4, 133, 165);
  text-align: center;
  border-radius: 5px;
}
header h1{
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
  text-shadow: 0 0 5px black;
}
header p{
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 0 0 2px rgb(0, 0, 0);
}
footer{
  box-shadow: 0 0 2px #333;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: rgb(4, 133, 165);
  text-align: center;
  color: white;
  text-transform: capitalize;
  border-radius: 5px;
}
main{
  box-shadow: 0 0 2px #333;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 5px;
}
h2{
  text-transform: capitalize;
  color: black;
  padding: 8px;
  background-color: orange;
  border-radius: 5px;
}
section{
  box-shadow: 0 0 2px #333;
  margin-top: 7px;
  border-radius: 5px;
  padding: 5px 10px;
}
h3{
  text-transform: capitalize;
  color: red;
  text-shadow: 0 0 1px black;
  margin-bottom: -5px;
}
.form-group{
  border: 1px solid #ddd;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}
label{
  color: rgb(4, 133, 165);
  text-transform: capitalize;
  font-weight: bold;
}
input{
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(2, 2, 194);
  border-radius: 5px;
}
input[type='checkbox'],
input[type='radio']{
  width: auto;
}
select:focus,
textarea:focus,
input:focus{
  outline: none;
  border-color: black;
}
textarea{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(2, 2, 194);
}
select{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(2, 2, 194);
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(22, 22, 22);
}
option{
  text-transform: capitalize;
}
fieldset{
  border: 1px solid rgb(2, 2, 194);
  padding: 10px;
  border-radius: 5px;
}
legend{
  color: red;
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px;
}
.radio-group label{
  display: flex;
  gap:15px;
  font-weight: normal;
}
.topping-grid,
.sides-grid{
  display: grid;
  grid-template-columns: repeat((auto-fit,minmax((200px,1fr))));
  gap: 10px;
}
.topping-option,
.sides-option{
  border: 1px solid red;
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  transition: all 2s ease;
}
.topping-option:hover,
.sides-option:hover{
  color:rgb(0, 0, 0);
  border-color: blue;
}
.topping-option input[type='checkbox']:checked +span,
.topping-option:has(input:checked){
  background-color: rgb(177, 245, 177);
}
.sides-option input[type='checkbox']:checked +span,
.sides-option:has(input:checked){
  background-color: rgb(177, 245, 177);
}
.submit-btn{
  background-color: orange;
  width: 100%;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  text-transform: capitalize;
  margin-top: 10px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.submit-btn:hover{
  background-color: rgb(4, 133, 165);
  color: white;
}
.order-summary{
  background-color: rgb(247, 247, 213);
  padding: 10px;
  margin-top: 10px;
  border-radius:3px
}
.order-detail{
  display: flex;
  justify-content: space-between;
}
.item-name {
  text-transform: capitalize;
  font-weight: 500;
  color: #000000;
}

.item-price {
  font-weight: bold;
  color: #01441d;
  margin-left: 10px;
}
.summary-total{
  
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 7px 5px;
  color: rgb(4, 133, 165);
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 5px;
}
.customer-details{
  background-color: burlywood;
  padding: 10px;
}
.customer-details p{
  color: rgb(26, 22, 22);
  font-weight: 500;
}